@charset "UTF-8";
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/**
 * Remove trailing margins from nested lists.
 */
li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Let’s get `<table>`s behaving how we expect.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Breakpoints (These are the same values that bootstrap use) */
/* Just a bit bigger than a mobile */
/* iPads etc */
/* Laptop Screens */
/* Large Desktop Screens */
/* Extra large desktop screens */
/* Extra Extra Large Desktop Screens */
@font-face {
  font-family: 'basier_squarebold';
  src: url("fonts/basiersquare-bold-webfont.eot");
  src: url("fonts/basiersquare-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/basiersquare-bold-webfont.woff2") format("woff2"), url("fonts/basiersquare-bold-webfont.woff") format("woff"), url("fonts/basiersquare-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'archiathin';
  src: url("fonts/archia-thin-webfont.eot");
  src: url("fonts/archia-thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/archia-thin-webfont.woff2") format("woff2"), url("fonts/archia-thin-webfont.woff") format("woff"), url("fonts/archia-thin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'archiaregular';
  src: url("fonts/archia-regular-webfont.eot");
  src: url("fonts/archia-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/archia-regular-webfont.woff2") format("woff2"), url("fonts/archia-regular-webfont.woff") format("woff"), url("fonts/archia-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'archiasemibold';
  src: url("fonts/archia-semibold-webfont.eot");
  src: url("fonts/archia-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/archia-semibold-webfont.woff2") format("woff2"), url("fonts/archia-semibold-webfont.woff") format("woff"), url("fonts/archia-semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* Our Site Breakpoints (same as twitter bootstrap) */
/* Break a component out of the main container it sits in */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 26px;
  line-height: 36px;
  font-family: sans-serif; }

p {
  font-family: sans-serif;
  margin-bottom: 20px; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"] {
  width: 100%;
  height: 50px;
  border-radius: 0;
  border: 1px solid #ccc;
  padding-left: 10px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus {
    outline: 1px dashed #000;
    border-color: #000; }

select {
  width: 100%;
  height: 50px;
  border-radius: 0;
  border: 1px solid #ccc;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("images/select-arrow.png");
  background-size: 8px;
  background-position: top 50% right 15px;
  background-repeat: no-repeat; }
  select:focus, select:active {
    outline: 1px dashed #000;
    border-color: #000; }

textarea {
  width: 100%;
  height: 150px;
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 10px;
  resize: none; }
  textarea:focus {
    outline: 1px dashed #000;
    border-color: #000; }

label {
  display: block;
  margin-bottom: 5px; }

.btn {
  display: inline-block;
  position: relative;
  width: auto;
  padding: 15px 30px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  border-style: solid;
  border-width: 1px;
  transition: all .3s ease; }
  .btn:hover {
    text-decoration: none; }

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%; }
  @media (min-width: 576px) {
    .btn-container {
      flex-direction: row;
      justify-content: center; } }
  .btn-container a:not(:first-of-type) {
    margin-top: 10px; }
    @media (min-width: 576px) {
      .btn-container a:not(:first-of-type) {
        margin-top: 0;
        margin-left: 10px; } }

nav.primary {
  width: 100%;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto; }
  nav.primary ul {
    display: flex;
    position: relative;
    width: 100%; }
  nav.primary li:not(.submenu li) {
    list-style: none;
    flex: 1;
    transition: all .3s ease; }
    nav.primary li:not(.submenu li):nth-of-type(1) {
      background-color: #FF0057; }
      nav.primary li:not(.submenu li):nth-of-type(1) .submenu {
        background-color: #FF0057; }
        nav.primary li:not(.submenu li):nth-of-type(1) .submenu:before {
          background-color: #e6004e; }
        nav.primary li:not(.submenu li):nth-of-type(1) .submenu:after {
          background-color: #cc0046; }
        nav.primary li:not(.submenu li):nth-of-type(1) .submenu .col {
          border-right: 1px solid #ff669a; }
          nav.primary li:not(.submenu li):nth-of-type(1) .submenu .col:last-of-type {
            border-right: 0; }
    nav.primary li:not(.submenu li):nth-of-type(2) {
      background-color: #0496ff; }
      nav.primary li:not(.submenu li):nth-of-type(2) .submenu {
        background-color: #0496ff; }
        nav.primary li:not(.submenu li):nth-of-type(2) .submenu:before {
          background-color: #0088ea; }
        nav.primary li:not(.submenu li):nth-of-type(2) .submenu:after {
          background-color: #0079d0; }
        nav.primary li:not(.submenu li):nth-of-type(2) .submenu .col {
          border-right: 1px solid #6ac1ff; }
          nav.primary li:not(.submenu li):nth-of-type(2) .submenu .col:last-of-type {
            border-right: 0; }
    nav.primary li:not(.submenu li):nth-of-type(3) {
      background-color: #3c096c; }
      nav.primary li:not(.submenu li):nth-of-type(3) .submenu {
        background-color: #3c096c; }
        nav.primary li:not(.submenu li):nth-of-type(3) .submenu:before {
          background-color: #2f0754; }
        nav.primary li:not(.submenu li):nth-of-type(3) .submenu:after {
          background-color: #22053d; }
        nav.primary li:not(.submenu li):nth-of-type(3) .submenu .col {
          border-right: 1px solid #7011ca; }
          nav.primary li:not(.submenu li):nth-of-type(3) .submenu .col:last-of-type {
            border-right: 0; }
    nav.primary li:not(.submenu li):nth-of-type(4) {
      background-color: #ffc300; }
      nav.primary li:not(.submenu li):nth-of-type(4) .submenu {
        background-color: #ffc300; }
        nav.primary li:not(.submenu li):nth-of-type(4) .submenu:before {
          background-color: #e6b000; }
        nav.primary li:not(.submenu li):nth-of-type(4) .submenu:after {
          background-color: #cc9c00; }
        nav.primary li:not(.submenu li):nth-of-type(4) .submenu .col {
          border-right: 1px solid #ffdb66; }
          nav.primary li:not(.submenu li):nth-of-type(4) .submenu .col:last-of-type {
            border-right: 0; }
      nav.primary li:not(.submenu li):nth-of-type(4) a {
        color: #000; }
    nav.primary li:not(.submenu li):nth-of-type(5) {
      background-color: #fb5607; }
      nav.primary li:not(.submenu li):nth-of-type(5) .submenu {
        background-color: #fb5607; }
        nav.primary li:not(.submenu li):nth-of-type(5) .submenu:before {
          background-color: #e54d04; }
        nav.primary li:not(.submenu li):nth-of-type(5) .submenu:after {
          background-color: #cc4403; }
        nav.primary li:not(.submenu li):nth-of-type(5) .submenu .col {
          border-right: 1px solid #fd9a6b; }
          nav.primary li:not(.submenu li):nth-of-type(5) .submenu .col:last-of-type {
            border-right: 0; }
    nav.primary li:not(.submenu li):nth-of-type(6) {
      background-color: #14cc60; }
      nav.primary li:not(.submenu li):nth-of-type(6) a {
        color: #fff; }
  nav.primary a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-family: "archiasemibold", sans-serif;
    transition: all .3s ease; }
    nav.primary a:hover {
      text-decoration: none; }
  nav.primary .submenu {
    display: flex;
    position: absolute;
    top: 100%;
    left: -9999px;
    overflow: hidden;
    transition: opacity .3s ease;
    opacity: 0;
    padding: 20px;
    width: 100%; }
    nav.primary .submenu:after {
      content: "";
      display: block;
      position: absolute;
      right: -100px;
      bottom: -100px;
      width: 300px;
      height: 600px;
      transform: skewX(333deg) rotateX(41deg);
      opacity: .5;
      z-index: 3; }
    nav.primary .submenu:before {
      content: "";
      display: block;
      position: absolute;
      right: -230px;
      bottom: -220px;
      width: 600px;
      height: 600px;
      transform: skewX(290deg) rotateX(41deg);
      opacity: .3;
      z-index: 2; }
  nav.primary .has-children:hover .submenu {
    left: 0;
    opacity: 1; }
  nav.primary .col {
    display: inline-block;
    width: 40%;
    padding: 0 30px;
    color: #fff;
    z-index: 10; }
    nav.primary .col:first-of-type {
      width: 20%; }
    nav.primary .col ul {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start; }
    nav.primary .col li {
      display: block;
      width: 100%; }
      nav.primary .col li a {
        align-items: flex-start;
        justify-content: flex-start;
        padding: 10px 0;
        font-family: "archiaregular", sans-serif;
        text-align: left;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase; }
        nav.primary .col li a:hover {
          text-decoration: underline;
          text-underline-offset: 5px; }
    nav.primary .col img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 16/9; }
  nav.primary .image-container {
    position: relative;
    width: 100%;
    height: 100%; }

html {
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-family: sans-serif;
  color: #000;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

*, *::before, *::after {
  /*! autoprefixer: off */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: underline; }

.c-container {
  width: 100%;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto; }

.site-header {
  position: relative;
  border-bottom: 1px dashed red;
  background-color: #fff;
  z-index: 1000; }

.header-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 0;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto; }
  .header-inner .search-toggle {
    margin-right: 20px;
    position: relative; }
    .header-inner .search-toggle img {
      max-width: 20px;
      opacity: 1;
      top: -7px;
      right: 10px;
      position: absolute;
      transition: all .3s ease; }
      .header-inner .search-toggle img + img {
        opacity: 0; }
    .header-inner .search-toggle.search-active img {
      opacity: 0; }
      .header-inner .search-toggle.search-active img + img {
        opacity: 1; }
  .header-inner a[href^="mailto"] {
    display: inline-block;
    position: relative;
    font-family: "archiasemibold", sans-serif;
    color: #CC0044;
    font-weight: 700;
    padding-right: 15px;
    transition: all .3s ease;
    text-decoration: underline;
    text-underline-offset: 5px; }
  .header-inner a[href^="tel"] {
    display: inline-block;
    position: relative;
    font-family: "archiasemibold", sans-serif;
    color: #CC0044;
    font-weight: 700;
    padding-right: 0;
    transition: all .3s ease;
    text-decoration: underline;
    text-underline-offset: 5px; }

.search {
  opacity: 0;
  margin-right: 30px;
  width: 400px;
  transition: all .3s ease; }
  .search.search-open {
    opacity: 1; }
  .search form {
    display: flex;
    margin-right: 20px; }
  .search input[type="text"] {
    width: calc(100% - 50px);
    border-right: 0; }
  .search button[type="submit"] {
    width: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: 0;
    cursor: pointer; }
    .search button[type="submit"] img {
      max-width: 20px; }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  z-index: 20;
  background: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 0;
  background-image: url("images/icons/arrow-previous.png"); }
  .slick-prev:hover {
    background-image: url("images/icons/arrow-previous.png"); }
  .slick-prev:focus {
    background-image: url("images/icons/arrow-previous.png"); }

[dir='rtl'] .slick-prev {
  right: 0;
  left: auto; }

.slick-prev:before {
  content: ''; }

[dir='rtl'] .slick-prev:before {
  content: ''; }

.slick-next {
  right: 0;
  background-image: url("images/icons/arrow-next.png"); }
  .slick-next:hover {
    background-image: url("images/icons/arrow-next.png"); }
  .slick-next:focus {
    background-image: url("images/icons/arrow-next.png"); }

[dir='rtl'] .slick-next {
  right: auto;
  left: 0; }

.slick-next:before {
  content: ''; }

[dir='rtl'] .slick-next:before {
  content: ''; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -50px;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 25px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-size: 25px;
  line-height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  content: '•';
  text-align: center;
  opacity: .5;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .90;
  color: #000; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.footer-inner {
  position: relative;
  width: 1366px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px; }

.footer-links {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 5; }
  @media (min-width: 768px) {
    .footer-links {
      flex-direction: row; } }
  .footer-links ul {
    width: 100%; }
    .footer-links ul:not(:last-of-type) {
      margin-bottom: 20px; }
      @media (min-width: 768px) {
        .footer-links ul:not(:last-of-type) {
          margin-bottom: 0; } }
    @media (min-width: 768px) {
      .footer-links ul {
        width: auto; }
        .footer-links ul:not(:first-of-type) {
          margin-left: 50px; } }
  .footer-links .col-heading {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    color: #000;
    font-family: "archiasemibold", sans-serif; }
  .footer-links li {
    list-style: none; }
    .footer-links li:not(:last-of-type) {
      margin-bottom: 5px; }
  .footer-links a {
    color: #79797B;
    font-size: 11px;
    line-height: 11px;
    font-family: sans-serif; }

.copyright {
  position: relative;
  margin-top: 30px;
  border-top: 1px solid #e0e0e0;
  padding-top: 30px;
  z-index: 5; }
  .copyright p {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    color: #000;
    font-size: 11px;
    line-height: 18px; }
    .copyright p a {
      color: #000;
      text-decoration: underline; }
      .copyright p a:hover {
        text-decoration: none; }

.purple-overlay {
  position: relative;
  overflow: hidden; }
  .purple-overlay img {
    width: 100%;
    filter: grayscale(1);
    transform: scale(1);
    transition: all .6s ease;
    opacity: 0.333; }
  .purple-overlay:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 9, 108, 0.9); }
  .purple-overlay:hover img {
    transform: scale(1.02); }

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 100px;
  z-index: 30; }
  .text-container h1 {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 20px;
    color: #fff;
    font-family: "basier_squarebold", sans-serif;
    text-transform: uppercase; }
  .text-container p.leading {
    color: #fff;
    font-family: "archiathin", sans-serif;
    font-size: 30px;
    line-height: 40px;
    width: 30ch; }
  .text-container p:not(.leading) {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    width: 50ch; }

.blue-overlay {
  position: relative;
  overflow: hidden; }
  .blue-overlay img {
    width: 100%;
    filter: grayscale(1);
    transform: scale(1);
    transition: all .6s ease;
    opacity: 0.333; }
  .blue-overlay:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 150, 255, 0.9); }
  .blue-overlay:hover img {
    transform: scale(1.02); }

.red-overlay {
  position: relative;
  overflow: hidden; }
  .red-overlay .text-container {
    align-items: flex-end;
    padding-right: 100px;
    text-align: right; }
  .red-overlay img {
    width: 100%;
    filter: grayscale(1);
    transform: scale(1);
    transition: all .6s ease;
    opacity: 0.333; }
  .red-overlay:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 10, 84, 0.9); }
  .red-overlay:hover img {
    transform: scale(1.02); }

.orange-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  z-index: 10; }
  .orange-circle img {
    width: 100%;
    filter: grayscale(0);
    opacity: 1; }

.blue-orange {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 70px;
  right: 0px;
  z-index: 10; }
  .blue-orange img {
    width: 100%;
    filter: grayscale(0);
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
