@charset "UTF-8";
@import url("https://p.typekit.net/p.css?s=1&k=kwc6eok&ht=tk&f=2005.2007.2009&a=142459270&app=typekit&e=css");
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/**
 * Remove trailing margins from nested lists.
 */
li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Let’s get `<table>`s behaving how we expect.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Breakpoints (These are the same values that bootstrap use) */
/* Just a bit bigger than a mobile */
/* iPads etc */
/* Laptop Screens */
/* Large Desktop Screens */
/* Extra large desktop screens */
/* Extra Extra Large Desktop Screens */
@font-face {
  font-family: "museo-sans";
  src: url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal; }
@font-face {
  font-family: "museo-sans";
  src: url("https://use.typekit.net/af/a28b50/00000000000000000000e803/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/a28b50/00000000000000000000e803/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/a28b50/00000000000000000000e803/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal; }
@font-face {
  font-family: "museo-sans";
  src: url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal; }
@font-face {
  font-family: 'bouldbold';
  src: url("fonts/bould-bold-webfont.eot");
  src: url("fonts/bould-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bould-bold-webfont.woff2") format("woff2"), url("fonts/bould-bold-webfont.woff") format("woff"), url("fonts/bould-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'bouldmedium';
  src: url("fonts/bould-medium-webfont.eot");
  src: url("fonts/bould-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bould-medium-webfont.woff2") format("woff2"), url("fonts/bould-medium-webfont.woff") format("woff"), url("fonts/bould-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'bouldregular';
  src: url("fonts/bould-regular-webfont.eot");
  src: url("fonts/bould-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bould-regular-webfont.woff2") format("woff2"), url("fonts/bould-regular-webfont.woff") format("woff"), url("fonts/bould-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* Our Site Breakpoints (same as twitter bootstrap) */
/* Break a component out of the main container it sits in */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 26px;
  line-height: 36px;
  font-family: "bouldmedium"; }

p {
  font-family: "bouldregular";
  margin-bottom: 20px; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"] {
  width: 100%;
  height: 50px;
  border-radius: 0;
  border: 1px solid #ccc;
  padding-left: 10px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus {
    outline: 1px dashed #2ba84a;
    border-color: #2ba84a; }

select {
  width: 100%;
  height: 50px;
  border-radius: 0;
  border: 1px solid #ccc;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("images/select-arrow.png");
  background-size: 8px;
  background-position: top 50% right 15px;
  background-repeat: no-repeat; }
  select:focus, select:active {
    outline: 1px dashed #2ba84a;
    border-color: #2ba84a; }

textarea {
  width: 100%;
  height: 150px;
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 10px;
  resize: none; }
  textarea:focus {
    outline: 1px dashed #2ba84a;
    border-color: #2ba84a; }

label {
  display: block;
  margin-bottom: 5px;
  font-family: "bouldregular"; }

.form-block {
  padding-top: 60px;
  padding-bottom: 60px; }
  .form-block input,
  .form-block select,
  .form-block textarea {
    margin-bottom: 20px; }

.btn, .purple-solid, .purple-outline, .green-solid, .green-outline {
  display: inline-block;
  position: relative;
  width: auto;
  padding: 13px 30px 15px 30px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  font-family: "bouldmedium";
  border-style: solid;
  border-width: 1px;
  transition: all .3s ease; }
  .btn:hover, .purple-solid:hover, .purple-outline:hover, .green-solid:hover, .green-outline:hover {
    text-decoration: none; }

.purple-solid {
  background-color: #310055;
  border-color: #310055;
  color: #fff; }
  .purple-solid:hover {
    background-color: #4e0088; }

.purple-outline {
  background-color: transparent;
  border-color: #310055;
  color: #310055; }
  .purple-outline:hover {
    background-color: #310055;
    color: #fff; }

.green-solid {
  background-color: #2ba84a;
  border-color: #2ba84a;
  color: #fff; }
  .green-solid:hover {
    background-color: #3acc5e; }

.green-outline {
  background-color: transparent;
  border-color: #2ba84a;
  color: #2ba84a; }
  .green-outline:hover {
    background-color: #2ba84a;
    color: #fff; }

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%; }
  @media (min-width: 576px) {
    .btn-container {
      flex-direction: row;
      justify-content: center; } }
  .btn-container a:not(:first-of-type) {
    margin-top: 10px; }
    @media (min-width: 576px) {
      .btn-container a:not(:first-of-type) {
        margin-top: 0;
        margin-left: 10px; } }

nav.primary {
  width: 100%;
  background-color: #ffc300; }
  nav.primary ul {
    display: flex;
    width: 100%; }
  nav.primary li {
    list-style: none;
    flex: 1;
    transition: all .3s ease; }
    nav.primary li:not(:first-of-type) {
      border-left: 1px solid #310055; }
  nav.primary a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    text-align: center;
    color: #310055;
    font-family: "bouldmedium";
    transition: all .3s ease; }
    nav.primary a:hover {
      background-color: #ffcb24;
      text-decoration: none;
      color: #000; }

html {
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-family: sans-serif;
  color: #000;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

*, *::before, *::after {
  /*! autoprefixer: off */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: underline; }

.c-container, .header-inner, .footer-inner {
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px dashed red;
  border-right: 1px dashed red; }

.pt-0 {
  padding-top: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.site-header {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #310055;
  border-bottom: 1px dashed red; }

.header-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "header-one header-one header-one header-one header-one header-three"; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .header-inner {
      grid-template-areas: "header-two header-two header-two header-two header-two header-three" "header-four header-four header-four header-four header-four header-four";
      grid-template-rows: 1fr 1fr; } }
  @media (min-width: 992px) {
    .header-inner {
      grid-template-areas: "header-two header-two header-two header-two header-two header-three" "header-four header-four header-four header-four header-four header-four";
      grid-template-rows: 1fr 1fr; } }
  .header-inner a {
    color: #fff;
    font-family: "bouldregular"; }

.header-one {
  grid-area: header-one;
  text-align: left; }
  @media (min-width: 768px) {
    .header-one {
      display: none; } }

.header-two {
  grid-area: header-two;
  text-align: center; }
  @media (min-width: 768px) {
    .header-two {
      text-align: left; } }

.header-three {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: header-three;
  text-align: right; }
  @media (min-width: 768px) {
    .header-three {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "inner-one inner-two inner-three"; } }

.header-four {
  display: none; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .header-four {
      display: flex;
      grid-column: span 6; } }
  @media (min-width: 992px) {
    .header-four {
      display: flex;
      grid-column: span 6; } }

.inner1 {
  display: none; }
  @media (min-width: 992px) {
    .inner1 {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: header-three;
      width: 33%; } }

.inner2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-area: header-one; }
  @media (min-width: 992px) {
    .inner2 {
      grid-area: header-two; } }

.inner3 {
  display: none; }
  @media (min-width: 992px) {
    .inner3 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;
      margin-left: auto;
      grid-area: header-three; } }

.inner4 {
  display: none; }
  @media (min-width: 992px) {
    .inner4 {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: header-three;
      width: 33%;
      margin-left: auto;
      margin-right: auto; } }

.inner5 {
  display: none; }
  @media (max-width: 991px) {
    .inner5 {
      display: flex;
      justify-content: flex-end;
      grid-area: header-three; } }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  z-index: 20;
  background: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 0;
  background-image: url("images/icons/arrow-previous.png"); }
  .slick-prev:hover {
    background-image: url("images/icons/arrow-previous.png"); }
  .slick-prev:focus {
    background-image: url("images/icons/arrow-previous.png"); }

[dir='rtl'] .slick-prev {
  right: 0;
  left: auto; }

.slick-prev:before {
  content: ''; }

[dir='rtl'] .slick-prev:before {
  content: ''; }

.slick-next {
  right: 0;
  background-image: url("images/icons/arrow-next.png"); }
  .slick-next:hover {
    background-image: url("images/icons/arrow-next.png"); }
  .slick-next:focus {
    background-image: url("images/icons/arrow-next.png"); }

[dir='rtl'] .slick-next {
  right: auto;
  left: 0; }

.slick-next:before {
  content: ''; }

[dir='rtl'] .slick-next:before {
  content: ''; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -50px;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 25px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-size: 25px;
  line-height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  content: '•';
  text-align: center;
  opacity: .5;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .90;
  color: #2ba84a; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.site-footer {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #eee;
  border-top: 1px dashed red; }

.footer-links {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 768px) {
    .footer-links {
      flex-direction: row; } }
  .footer-links ul {
    width: 100%; }
    .footer-links ul:not(:last-of-type) {
      margin-bottom: 20px; }
      @media (min-width: 768px) {
        .footer-links ul:not(:last-of-type) {
          margin-bottom: 0; } }
    @media (min-width: 768px) {
      .footer-links ul {
        width: auto; }
        .footer-links ul:not(:first-of-type) {
          margin-left: 50px; } }
  .footer-links .col-heading {
    font-family: "bouldmedium";
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px; }
  .footer-links li {
    list-style: none; }
    .footer-links li:not(:last-of-type) {
      margin-bottom: 5px; }
  .footer-links a {
    color: #000;
    font-family: "bouldregular";
    font-size: 13px;
    line-height: 13px; }

.copyright {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 30px; }
  .copyright p {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px; }
    .copyright p a {
      color: #000;
      text-decoration: underline; }
      .copyright p a:hover {
        text-decoration: none; }

.hero {
  display: block;
  position: relative;
  width: 100%;
  height: auto; }
  .hero picture,
  .hero img {
    width: 100%; }

.textblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  height: auto; }
  .textblock h1, .textblock h2, .textblock h3, .textblock h4, .textblock h5, .textblock h6 {
    margin-bottom: 20px;
    text-align: center; }
  .textblock p {
    text-align: center; }
    .textblock p:last-of-type {
      margin-bottom: 0; }
    @media (min-width: 768px) {
      .textblock p {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto; } }
    @media (min-width: 1152px) {
      .textblock p {
        max-width: 1000px; } }

.has-readmore {
  overflow: hidden;
  position: relative; }
  .has-readmore:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 22px;
    background-color: rgba(255, 255, 255, 0.9); }
  .has-readmore.more-content:after, .has-readmore.shortpara:after {
    display: none; }

.read-more {
  color: #310055;
  font-family: "bouldregular";
  font-size: 13px;
  line-height: 13px; }

.accordion {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px; }
  .accordion h2:not(.accordion-content h2, h3, h4, h5, h6), .accordion h3:not(.accordion-content h2, h3, h4, h5, h6), .accordion h4:not(.accordion-content h2, h3, h4, h5, h6), .accordion h5:not(.accordion-content h2, h3, h4, h5, h6), .accordion h6:not(.accordion-content h2, h3, h4, h5, h6) {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; }
  .accordion.dark-theme .accordion-heading {
    background-color: #000;
    background-image: url("images/select-arrow-white.png");
    color: #fff; }
  .accordion.dark-theme .active-tab {
    background-image: url("images/up-arrow-white.png"); }
  .accordion.dark-theme .accordion-item {
    margin-bottom: 2px; }
  .accordion p:not(.accordion-content p) {
    width: 100%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }

.accordion-container {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0; }

.accordion-item {
  display: block;
  position: relative;
  width: 100%; }
  .accordion-item .accordion-heading {
    padding: 20px 50px 20px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "bouldregular";
    color: #000;
    font-size: 14px;
    line-height: 20px;
    border-top: 1px solid #000;
    background-image: url("images/select-arrow.png");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: top 50% right 20px; }
    @media (min-width: 1152px) {
      .accordion-item .accordion-heading {
        font-size: 18px;
        line-height: 26px; } }
  .accordion-item:last-of-type .accordion-heading {
    border-bottom: 1px solid #000; }
  .accordion-item:last-of-type .active-tab {
    border-bottom: 0; }
  .accordion-item .active-tab {
    background-image: url("images/up-arrow.png");
    border-bottom: 0;
    background-color: #f9f9f9; }
  .accordion-item .accordion-content {
    padding: 30px 20px; }
    .accordion-item .accordion-content p:only-child {
      margin-bottom: 0; }
    .accordion-item .accordion-content a {
      color: #000;
      text-decoration: underline; }
      .accordion-item .accordion-content a:hover {
        text-decoration: none; }
    .accordion-item .accordion-content ul,
    .accordion-item .accordion-content ol {
      padding-left: 15px; }
    .accordion-item .accordion-content img {
      width: 100%; }

.equal-block .text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px; }
  @media (min-width: 768px) {
    .equal-block .text-block {
      width: 50%; } }
.equal-block h2, .equal-block h3, .equal-block h4, .equal-block h5, .equal-block h6 {
  margin-bottom: 20px; }
.equal-block .image-block {
  width: 100%; }
  @media (min-width: 768px) {
    .equal-block .image-block {
      width: 50%; } }
  .equal-block .image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1; }
.equal-block.grey-theme {
  background-color: #f9f9f9; }
  .equal-block.grey-theme .text-block {
    padding: 30px; }
    @media (min-width: 768px) {
      .equal-block.grey-theme .text-block {
        padding: 60px; } }

.equal-row {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 768px) {
    .equal-row {
      flex-direction: row; } }
  .equal-row.reversed {
    flex-direction: column-reverse; }
    @media (min-width: 768px) {
      .equal-row.reversed {
        flex-direction: row-reverse; } }
  @media (min-width: 768px) {
    .equal-row.row-item:nth-of-type(odd) {
      flex-direction: row-reverse; } }

.points-of-interest {
  position: relative;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px; }
  .points-of-interest h2 {
    width: 100%;
    text-align: center; }
  .points-of-interest p {
    width: 100%;
    margin-top: 20px; }
  .points-of-interest ul {
    display: flex;
    flex-direction: column;
    padding: 0; }
    @media (min-width: 576px) {
      .points-of-interest ul {
        flex-direction: row; } }
  .points-of-interest li {
    list-style-type: none;
    width: 100%; }
    @media (min-width: 576px) {
      .points-of-interest li {
        margin-right: 2%;
        width: 32%; }
        .points-of-interest li:nth-of-type(3n) {
          margin-right: 0; } }
    .points-of-interest li:not(:last-of-type) {
      padding-bottom: 30px;
      margin-bottom: 20px; }
      @media (min-width: 576px) {
        .points-of-interest li:not(:last-of-type) {
          padding-bottom: 0;
          margin-bottom: 0; } }
  .points-of-interest img {
    margin-bottom: 20px; }
  .points-of-interest.grey-theme {
    background-color: #f9f9f9;
    padding: 30px; }
    @media (min-width: 1152px) {
      .points-of-interest.grey-theme {
        padding: 60px; } }

.poi-title {
  font-size: 18px;
  line-height: 24px; }
  @media (min-width: 576px) {
    .poi-title {
      font-size: 12px;
      line-height: 18px;
      padding-right: 20px; } }
  @media (min-width: 768px) {
    .poi-title {
      font-size: 14px;
      line-height: 22px; } }
  @media (min-width: 1152px) {
    .poi-title {
      font-size: 18px;
      line-height: 24px; } }
  .poi-title a {
    color: #000; }

.icon-list {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative !important;
  width: 100vw !important;
  left: 50% !important;
  margin-left: -50vw !important; }
  .icon-list.light-theme {
    background-color: #f9f9f9; }
  .icon-list h2 {
    margin-bottom: 20px; }
  .icon-list h2, .icon-list p {
    text-align: center; }
  .icon-list ul {
    padding: 0; }
  .icon-list img {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto; }
  .icon-list p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "bouldregular"; }
  .icon-list.carousel-mode {
    padding-bottom: 60px; }
    .icon-list.carousel-mode li {
      margin: 0 10px; }
      .icon-list.carousel-mode li p {
        margin-top: 15px;
        margin-bottom: 0; }
  .icon-list .slick-dots {
    bottom: -60px; }
  .icon-list.list-mode ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%; }
  .icon-list.list-mode li {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2%; }
    @media (min-width: 768px) {
      .icon-list.list-mode li {
        width: 23.5%; }
        .icon-list.list-mode li:nth-of-type(2n) {
          margin-right: 2%; }
        .icon-list.list-mode li:nth-of-type(3n) {
          margin-right: 0; } }
    .icon-list.list-mode li p {
      margin-bottom: 0; }
      @media (min-width: 768px) {
        .icon-list.list-mode li p {
          font-size: 12px;
          line-height: 18px; } }
      @media (min-width: 1152px) {
        .icon-list.list-mode li p {
          font-size: 14px;
          line-height: 24px; } }
  .icon-list.list-mode .multiple-list li {
    display: flex;
    flex-direction: column;
    width: 49%;
    margin-bottom: 2%;
    margin-right: 2%; }
    .icon-list.list-mode .multiple-list li:nth-of-type(2n) {
      margin-right: 0; }
    @media (min-width: 768px) {
      .icon-list.list-mode .multiple-list li {
        width: 23.5%;
        margin-bottom: 0; }
        .icon-list.list-mode .multiple-list li:nth-of-type(2n) {
          margin-right: 2%; }
        .icon-list.list-mode .multiple-list li:nth-of-type(3n) {
          margin-right: 2%; }
        .icon-list.list-mode .multiple-list li:nth-of-type(4n) {
          margin-right: 0; } }

.icon-heading {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  font-family: "bouldmedium";
  font-size: 14px;
  line-height: 20px; }
  @media (min-width: 1152px) {
    .icon-heading {
      font-size: 18px;
      line-height: 24px; } }

.counter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px; }
  .counter-wrapper .symbol {
    font-size: 30px;
    line-height: 30px;
    margin-left: 5px; }

.counter-number {
  width: auto;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-family: "bouldmedium"; }

.carousel-controls {
  display: flex;
  width: 100%;
  margin-top: 30px;
  align-items: center;
  justify-content: center; }
  .carousel-controls > div {
    cursor: pointer; }
    .carousel-controls > div + div {
      margin-left: 20px; }
  .carousel-controls img {
    max-width: 30px; }

.callout-content {
  padding: 30px;
  background-color: #000; }
  .callout-content a {
    display: inline-block;
    margin-top: 20px; }
  .callout-content.is-centered {
    text-align: center; }

.callout-content--heading {
  font-family: "bouldregular";
  font-size: 24px;
  line-height: 34px;
  color: #fff; }
  .callout-content--heading strong {
    font-family: "bouldbold"; }

.article-select {
  padding: 60px 30px;
  background-color: #f9f9f9; }
  .article-select h2:not(.post-content h2, h3, h4, h5, h6), .article-select h3:not(.post-content h2, h3, h4, h5, h6), .article-select h4:not(.post-content h2, h3, h4, h5, h6), .article-select h5:not(.post-content h2, h3, h4, h5, h6), .article-select h6:not(.post-content h2, h3, h4, h5, h6) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px; }
    .article-select h2:not(.post-content h2, h3, h4, h5, h6) a, .article-select h3:not(.post-content h2, h3, h4, h5, h6) a, .article-select h4:not(.post-content h2, h3, h4, h5, h6) a, .article-select h5:not(.post-content h2, h3, h4, h5, h6) a, .article-select h6:not(.post-content h2, h3, h4, h5, h6) a {
      font-size: 13px;
      color: #000; }
  .article-select ul {
    padding: 0; }
  @media (min-width: 576px) {
    .article-select.carousel-mode li:not(.slick-dots li) {
      margin: 0 10px; } }
  .article-select img {
    width: 100%; }
  .article-select .post-content {
    padding: 20px 10px; }
    @media (min-width: 576px) {
      .article-select .post-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%; } }
  .article-select .post-title {
    text-align: left;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px; }
    @media (min-width: 576px) {
      .article-select .post-title {
        font-size: 14px;
        line-height: 18px; } }
    @media (min-width: 1152px) {
      .article-select .post-title {
        font-size: 16px;
        line-height: 22px; } }
    .article-select .post-title a {
      color: #000; }
  .article-select .post-meta {
    display: flex;
    margin-bottom: 15px;
    font-size: 11px;
    line-height: 11px; }
    .article-select .post-meta a {
      color: #000; }
  .article-select date:after {
    content: "/";
    display: inline-block;
    font-size: 11px;
    line-height: 11px;
    margin: 0 5px; }
  .article-select .readmore {
    margin-top: auto;
    color: #310055;
    font-family: "bouldregular"; }
  .article-select .btn-container {
    padding: 60px 0; }

.postcode-lookup {
  padding: 30px;
  background-color: #000; }
  .postcode-lookup p {
    color: #fff;
    text-align: center; }
  .postcode-lookup form {
    display: flex;
    flex-direction: column; }
  .postcode-lookup input {
    margin-bottom: 10px;
    border-color: #fff; }
    .postcode-lookup input:focus::placeholder, .postcode-lookup input:active::placeholder {
      text-indent: -9999px; }
  .postcode-lookup button[type="submit"] {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    border: 1px solid #f3722c;
    background-color: #f3722c;
    color: #fff;
    margin-top: 15px;
    font-family: "bouldregular";
    cursor: pointer;
    transition: all .3s ease; }
    .postcode-lookup button[type="submit"]:hover {
      background-color: #f48244; }

/*# sourceMappingURL=style.css.map */
