nav.primary {
    width: 100%;
    background-color: $lightgrey;

    ul {
        display: flex;
        position: relative;
        width: 100%;
    }

    li {
        list-style: none;
        flex: 1;
        transition: all .3s ease;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        text-align: center;
        color: $black;
        transition: all .3s ease;

        &:hover {
            text-decoration: none;
            background-color: $midgrey;
            color: $black;
        }
    }

    .submenu {
        display: flex;
        position: absolute;
        top: 100%;
        left: -9999px;
        background-color: $white;
        transition: opacity .3s ease;
        opacity: 0;
        padding: 20px;
        border: 1px solid #ccc;
        width: 100%;
    }

    .has-children {

        &:hover {

            .submenu {
                left: 0;
                opacity: 1;
            }
        }
    }

    .col {
        display: inline-block;
        width: 35%;
        border-right: 1px solid #eee;
        padding: 0 30px;
    }

    .col-slim {
        width: 30%;
        padding: 0 30px;
    }
}