.accordion {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
    padding-top: 60px;
    padding-bottom: 60px;

    h2,h3,h4,h5,h6 {
        &:not(.accordion-content  h2,h3,h4,h5,h6) {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    &.dark-theme {

        .accordion-heading {
            background-color: $black;
            background-image: url('images/select-arrow-white.png');
            color: $white;
        }

        .active-tab {
            background-image: url('images/up-arrow-white.png');
        }

        .accordion-item {
            margin-bottom: 2px;
        }
    }

	p {
		&:not(.accordion-content p) {
            width: 100%;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
		}
	}
}

.accordion-container {
	max-width: $sitewidth;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
}

.accordion-item {
	display: block;
	position: relative;
	width: 100%;

	.accordion-heading {
		padding: 20px 50px 20px 20px;
		cursor: pointer;
		text-transform: uppercase;
		font-family: $font1;
		color: $black;
        font-size: 14px;
        line-height: 20px;
		border-top: 1px solid $black;
		background-image: url('images/select-arrow.png');
		background-repeat: no-repeat;
		background-size: 10px;
		background-position: top 50% right 20px;

        @include breakpoint(desktop) {
            font-size: 18px;
            line-height: 26px;
        }
	}

	&:last-of-type {

		.accordion-heading {
			border-bottom: 1px solid $black;
		}

		.active-tab {
			border-bottom: 0;
		}
	}

	.active-tab {
		background-image: url('images/up-arrow.png');
		border-bottom: 0;
        background-color: $lightgrey;
	}

	.accordion-content {
		padding: 30px 20px;

        p {
            &:only-child {
                margin-bottom: 0;
            }
        }

        a {
            color: $black;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

		ul,
		ol {
			padding-left: 15px;
		}

        img {
            width: 100%;
        }
	}
}