.icon-list {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    @include breakout;

    &.light-theme {
        background-color: $lightgrey;
    }

    h2 {
        margin-bottom: 20px;
    }

    h2,p {
        text-align: center;
    }

    ul {
        padding: 0;
    }

    img {
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: $font1;
    }

    &.carousel-mode {
        padding-bottom: 60px;

        li {
            margin: 0 10px;

            p {
                margin-top: 15px;
                margin-bottom: 0;
            }
        }
    }

    .slick-dots {
        bottom: -60px;
    }

    &.list-mode {

        ul {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
        }

        li {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 2%;

            @include breakpoint(tablet) {
                width: 23.5%;

                &:nth-of-type(2n) {
                    margin-right: 2%;
                }

                &:nth-of-type(3n) {
                    margin-right: 0;
                }
            }

            p {
                margin-bottom: 0;

                @include breakpoint(tablet) {
                    font-size: 12px;
                    line-height: 18px;
                }

                @include breakpoint(desktop) {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .multiple-list {

            li {
                display: flex;
                flex-direction: column;
                width: 49%;
                margin-bottom: 2%;
                margin-right: 2%;

                &:nth-of-type(2n) {
                    margin-right: 0;
                }

                @include breakpoint(tablet) {
                    width: 23.5%;
                    margin-bottom: 0;

                    &:nth-of-type(2n) {
                        margin-right: 2%;
                    }

                    &:nth-of-type(3n) {
                        margin-right: 2%;
                    }

                    &:nth-of-type(4n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.icon-heading {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-family: $font3;
    font-size: 14px;
    line-height: 20px;

    @include breakpoint(desktop) {
        font-size: 18px;
        line-height: 24px;
    }
}

.counter-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;

    .symbol {
        font-size: 30px;
        line-height: 30px;
        margin-left: 5px;
    }
}

.counter-number {
    width: auto;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-family: $font3;
}

.carousel-controls {
    display: flex;
    width: 100%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;

    > div {
        cursor: pointer;

        + div {
            margin-left: 20px;
        }
    }

    img {
        max-width: 30px;
    }
}