.purple-overlay {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    filter: grayscale(1);
    transform: scale(1);
    transition: all .6s ease;
    opacity: 0.333;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#3c096c,.9);
  }

  &:hover {

    img {
      transform: scale(1.02);
    }
  }

}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 100px;
  z-index: 30;

  h1 {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 20px;
    color: $white;
    font-family: $basierbold;
    text-transform: uppercase;
  }

  p.leading {
    color: $white;
    font-family: $archiathin;
    font-size: 30px;
    line-height: 40px;
    width: 30ch;
  }

  p {
    &:not(.leading) {
      font-size: 14px;
      line-height: 18px;
      color: $white;
      width: 50ch;
    }
  }
}

.blue-overlay {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    filter: grayscale(1);
    transform: scale(1);
    transition: all .6s ease;
    opacity: 0.333;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#0496ff,.9);
  }

  &:hover {

    img {
      transform: scale(1.02);
    }
  }
}

.red-overlay {
  position: relative;
  overflow: hidden;

  .text-container {
    align-items: flex-end;
    padding-right: 100px;
    text-align: right;
  }

  img {
    width: 100%;
    filter: grayscale(1);
    transform: scale(1);
    transition: all .6s ease;
    opacity: 0.333;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#ff0a54,.9);
  }

  &:hover {

    img {
      transform: scale(1.02);
    }
  }
}