.textblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    height: auto;

    h1,h2,h3,h4,h5,h6 {
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        text-align: center;
        
        &:last-of-type {
            margin-bottom: 0;
        }

        @include breakpoint(tablet) {
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        @include breakpoint(desktop) {
            max-width: 1000px;
        }
    }
}

.has-readmore {
    overflow: hidden;
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -12px;
        left: 0;
        width: 100%;
        height: 22px;
        background-color: rgba($white,.9);
    }

    &.more-content,
    &.shortpara {
        
        &:after {
            display: none;
        }
    }
}

.read-more {
    color: $purple;
    font-family: $font1;
    font-size: 13px;
    line-height: 13px;
}