.site-footer {
	padding-bottom: 30px;
	padding-top: 30px;
	background-color: #eee;
	border-top: 1px dashed red;
}

.footer-inner {
	@extend .c-container;
}

.footer-links {
	display: flex;
	flex-direction: column;
	width: 100%;

	@include breakpoint(tablet) {
		flex-direction: row;
	}

	ul {
		width: 100%;

		&:not(:last-of-type) {
			margin-bottom: 20px;

			@include breakpoint(tablet) {
				margin-bottom: 0;
			}
		}

		@include breakpoint(tablet) {
			width: auto;

			&:not(:first-of-type) {
				margin-left: 50px;
			}
		}
	}

	.col-heading {
		font-family: $bouldmedium;
		font-size: 16px;
		line-height: 16px;
		margin-bottom: 10px;
	}

	li {
		list-style: none;

		&:not(:last-of-type) {
			margin-bottom: 5px;
		}
	}

	a {
		color: $black;
		font-family: $bouldreg;
		font-size: 13px;
		line-height: 13px;
	}
}

.copyright {
	margin-top: 30px;
	border-top: 1px solid #ccc;
	padding-top: 30px;

	p {
		width: 100%;
		text-align: center;
		margin-bottom: 0;
		font-size: 12px;
		line-height: 18px;

		a {
			color: $black;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}