.site-header {
	position: relative;
	border-bottom: 1px dashed red;
	background-color: $white;
	z-index: 1000;
}

.header-inner {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 0;
	width: 100%;
	max-width: $sitewidth;
	margin: 0 auto;

	.search-toggle {
		margin-right: 20px;
		position: relative;

		img {
			max-width: 20px;
			opacity: 1;
			top: -7px;
			right: 10px;
			position: absolute;
			transition: all .3s ease;

			+ img {
				opacity: 0;
			}
		}

		&.search-active {

			img {
				opacity: 0;

				+ img {
					opacity: 1;
				}
			}
		}
	}

	a[href^="tel"] {
		display: inline-block;
		position: relative;
		font-family: $archiabold;
		color: #CC0044;
    	font-weight: 700;
		padding-right: 0;
		transition: all .3s ease;
		text-decoration: underline;
		text-underline-offset: 5px;

		&:hover {
			padding-right: 30px;

			&:after {
				right: -10px;
				opacity: 1;
			}
		}

		&:after {
			content: "";
			display: inline-block;
			position: absolute;
			top: -5px;
			right: -5px;
			width: 30px;
			height: 30px;
			background-image: url('images/phone.png');
			background-repeat: no-repeat;
			background-size: 20px;
			background-position: center;
			opacity: 0;
			transition: all .3s ease;
		}
	}
}

.search {
	opacity: 0;
	margin-right: 30px;
	width: 400px;
	transition: all .3s ease;

	&.search-open {
		opacity: 1;
	}

	form {
		display: flex;
		margin-right: 20px;
	}

	input[type="text"] {
		width: calc(100% - 50px);
		border-right: 0;
	}

	button[type="submit"] {
		width: 50px;
		background-color: $white;
		border: 1px solid #ccc;
		border-left: 0;
		cursor: pointer;

		img {
			max-width: 20px;
		}
	}
}