.site-header {
	padding-bottom: 30px;
	padding-top: 30px;
	background-color: $purple;
	border-bottom: 1px dashed red;
}

.header-inner {
	@extend .c-container;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "header-one header-one header-one header-one header-one header-three";

	@include breakpoint(ipadlandscape) {
		grid-template-areas: "header-two header-two header-two header-two header-two header-three"
		"header-four header-four header-four header-four header-four header-four";
		grid-template-rows: 1fr 1fr;
	}

	@include breakpoint(laptop) {
		grid-template-areas: "header-two header-two header-two header-two header-two header-three"
		"header-four header-four header-four header-four header-four header-four";
		grid-template-rows: 1fr 1fr;
	}

	a {
		color: $white;
		font-family: $bouldreg;
	}
}

.header-one {
	grid-area: header-one;
	text-align: left;

	@include breakpoint(tablet) {
		display: none;
	}
}

.header-two {
	grid-area: header-two;
	text-align: center;

	@include breakpoint(tablet) {
		text-align: left;
	}
}

.header-three {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-area: header-three;
	text-align: right;

	@include breakpoint(tablet) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: "inner-one inner-two inner-three";
	}
}

.header-four {
	display: none;

	@include breakpoint(ipadlandscape) {
		display: flex;
		grid-column: span 6;
	}

	@include breakpoint(laptop) {
		display: flex;
		grid-column: span 6;
	}
}

.inner1 {
	display: none;

	@include breakpoint(laptop) {
		display: flex;
		align-items: center;
		justify-content: center;
		grid-area: header-three;
		width: 33%;
	}
}

.inner2 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	grid-area: header-one;

	@include breakpoint(laptop) {
		grid-area: header-two;
	}
}

.inner3 {
	display: none;

	@include breakpoint(laptop) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 33%;
		margin-left: auto;
		grid-area: header-three;
	}
}

.inner4 {
	display: none;

	@include breakpoint(laptop) {
		display: flex;
		align-items: center;
		justify-content: center;
		grid-area: header-three;
		width: 33%;
		margin-left: auto;
		margin-right: auto;
	}
}

.inner5 {
	display: none;

	@media(max-width: 991px) {
		display: flex;
		justify-content: flex-end;
		grid-area: header-three;
	}
}